dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.prof
*.hp
*.aux
unsupported/elm/elm-stuff
unsupported/elm/elm.js
unsupported/elm/*temp*
unsupported/hs/docsets


go/cmd/abalone_relayd/abalone_relayd
go/cmd/abalone_example_ai/abalone_example_ai
go/cmd/abalone_gameoperator/abalone_gameoperator
go/cmd/abalone_ai_validator/abalone_ai_validator



frontend/bower_components
frontend/node_modules
frontend/build
frontend/.tscache
.DS_Store
.cabal_sandbox
