dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.prof
*.hp
*.aux
elm/elm_stuff/
elm/elm.js

frontend/bower_components
frontend/node_modules
frontend/build
frontend/.tscache
.DS_Store
.cabal_sandbox
