.grid polygon {
	fill: white;
	stroke: gray;
	stroke-width: 1;
}

.grid .selected {
	fill: #9edae5;
}

.grid .moves {
	fill: #f7b6d2;
}


.board .white {
	fill: #ff7f0e;
}

.board .black {
	fill: #1f77b4;
}

.board .faded circle {
	opacity: 0.5;
}

.score-display {
	font-size: 30px;
}